# --- WPF / .NET ---
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.ncrunch*
*.vscode/

# Build results
*.dll
*.exe
*.app
*.pdb
*.cache
*.log

# Resharper and Rider
.idea/
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Publish results
publish/
out/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
env/
venv/
ENV/
VENV/
*.env
*.venv

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# PyInstaller
*.spec

# Jupyter
.ipynb_checkpoints

# Misc
*.log
*.sqlite3
.DS_Store
Thumbs.db

# gui
